* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100vh;
    padding: 20px; 
}
.container {
   display: flex;
}
h4 {
    padding: 5px;
}
h5 {
    padding: 5px;
}
.card-product {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: #8EAC50;
    border-radius: 5px;
    width: 400px;
    height: 500px; 
 }
 .card-product-input{
    margin: 5px 10px;
    height: 30px;
    width: 200px;
    padding: 3px;
    border-radius: 5px; 
    border-color: transparent;
    font-size: 20px;
 }
 .card-product-img {
    width: 80%;

 }
 .card-product-btn {
    padding: 15px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #213363;
    color: whitesmoke;
    font-weight:600;

 }
.card-result {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start;
    width: 300px;
    padding: 10px;
}
 .card-result-total {
    padding: 10px;
 }
 .card-result-amount {
    padding: 10px;

 }
.card-result-circle{
    border:1px solig black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block; 
}